
.toastui-editor-md-container.toastui-editor-md-none-style,
.toastui-editor-defaultUI .toastui-editor-defaultUI-toolbar,
.toastui-editor-defaultUI {
  background-color: var(--bg-100) !important; /* 다크 배경색 */
  color: #f1f1f1 !important; /* 텍스트 색상 */
}

.toastui-editor-defaultUI,
.toastui-editor-defaultUI * {
  border: none !important;
  color: #f1f1f1 !important;
}

.toastui-editor-defaultUI .toastui-editor-md-tab-container,
.toastui-editor-defaultUI .toastui-editor-md-tab-container *,
.toastui-editor-defaultUI .toastui-editor-mode-switch,
.toastui-editor-defaultUI .toastui-editor-mode-switch * {
  display: none !important;
}

.toastui-editor-contents {
  background-color: var(--bg-100) !important; /* 다크 배경색 */
  color: #f1f1f1; /* 에디터 내용 텍스트 색상 */
}

.toastui-editor-toolbar {
  background-color: var(--bg-100) !important; /* 다크 배경색 */
  border-bottom: 1px solid #444; /* 툴바 테두리 색상 */
}

/* customEditorStyles.css */
.toastui-editor-defaultUI .toastui-editor-toolbar svg {
  fill: #ffffff; /* 아이콘 색상을 흰색으로 변경 */
}