.Button {
  padding: 10px 24px;
  border-radius: 24px;
  color: var(--text-100);
  border: none;
  cursor: pointer;
}

.primary {
  background: var(--primary-100);
}

.secondary {
  background: var(--primary-200);
}

.text {
  background: transparent;
}

.default {
  background: #2d2d2d;
  border: 1px solid #9e9e9e;
}

.small {
  padding: 4px 8px;
}

.medium {
  padding: 8px 16px;
}

.large {
  padding: 14px 24px;
}
