.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  max-width: 90rem;
  margin: auto;
  height: 56px;
  background-color: var(--bg-100);
  border-bottom: 1px solid var(--bg-300);
}

.pageTitle {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 2px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: unset;
}

.headerRightItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}
