.HeaderWrapper {
  position: relative;
  width: 100%;
  background-color: var(--bg-100);
  border-bottom: 1px solid var(--bg-300);
  z-index: 999;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  max-width: 90rem;
  margin: auto;
  height: 56px;
}

.logo {
  transition: transform 0.2s ease-in-out;
}

.link:hover .logo {
  transform: scale(1.2);
}

.pageTitle {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 2px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: unset;
}

.headerRightItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerRightItem {
  transition: transform 0.1s ease-in-out;
}

.writeHistory:hover {
  transform: scale(1.1);
}

.writeHistory:hover svg {
  color: var(--accent-300);
}

.githubLink {
  border-radius: 50%;
  background-color: var(--text-100);
  color: var(--bg-black);
  padding: 0.1rem 0.1rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.githubLink:hover {
  background-color: #4493f8;
  transform: scale(1.1);
}