.Wrapper {
  position: relative;
  height: calc(100vh - 56px);
}

.Home {
  max-width: 90rem;
  width: 90rem;
  padding: 36px;
  margin: auto;
}

.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  margin-bottom: 16px;
}

.sortButton {
  padding: 0 !important;
  color: var(--text-200) !important;
}

.sortButton:hover {
  color: var(--text-100) !important;
}

.activeSortButton {
  color: var(--text-100) !important;
}

.historyCardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-items: center;
  gap: 24px;
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--text-200);
  height: 100%;
}

.noResultText {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .Home {
    grid-template-columns: repeat(4, 1fr);
    max-width: 90svw;
  }
}

@media (max-width: 768px) {
  .Home {
    grid-template-columns: repeat(1, 1fr);
    max-width: 30rem;
  }
}
