.Home {
  max-width: 75rem;
  padding: 36px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-items: center;
  gap: 24px;
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--text-200);
  height: 100%;
}

.noResultText {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .Home {
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;
  }
}

@media (max-width: 768px) {
  .Home {
    grid-template-columns: repeat(1, 1fr);
    max-width: 30rem;
  }
}
