.Navigation {
  position: fixed;
  top: 105px;
  left: 100px;
  width: 150px;
  height: fit-content;
  overflow: hidden;
}

.tagList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  font-size: 0.75rem;
}

.historyCount {
  color: var(--text-200);
}

.link {
  text-decoration: none;
  color: unset;
}

.selectedTag {
  color: var(--primary-200);
  font-weight: bold;
}

.selectedTag .historyCount {
  color: var(--primary-200);
  font-weight: bold;
}
