.searchModalHeader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.searchModalHeader > *:last-child {
  flex: 1 !important;
  background: transparent !important;
}

.link {
  text-decoration: none;
  color: unset !important;
}

.searchModalBodyItem {
  padding: 1rem 1.5rem;
  border-bottom: 2px solid var(--bg-200);
}

.searchModalBodyItemContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchModalBodyItemTitle {
  font-size: 1rem;
}

.searchModalBodyItemSummary {
  font-size: 0.75rem;
  color: var(--text-200);
}
