.link {
  text-decoration: none;
}

.History {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-200);
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  height: 100%;
  max-height: 363px;
}

.historyImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.image {
  object-fit: cover;
  object-position: center;
}

.noHistoryImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  font-weight: bold;
  font-size: 1rem;
  color: var(--bg-300);
}

.historyContentWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.historyTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-100);
  margin-bottom: 8px;
}

.historyContent {
  font-size: 14px;
  color: var(--text-200);
  margin-bottom: 24px;
}

.historyCreateDate {
  font-size: 12px;
  color: var(--text-200);
}

.historyAdditionalInformation {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.historyTags {
  display: flex;
  align-items: center;
  gap: 4px;
}

.historyTag {
  font-size: 12px;
  padding: 6px 12px;
  background: var(--bg-300);
  border-radius: 50px;
  color: var(--primary-200);
}

.heartCount {
  font-size: 12px;
}
