.HistoryDetail {
  width: 100%;
  max-width: 80svw;
  margin: auto;
  min-height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  overflow: hidden;
  display: flex;
  gap: 3rem;
}

@media (max-width: 500px) {
  .HistoryDetail {
    max-width: 90svw;
    gap: 0;
  }
}
