.HistoryDetail {
  flex: 1;
  display: flex;
  gap: 3rem;
  position: relative;
  overflow-y: scroll;
  margin: 3rem 0 0;
}

.historyTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.content {
  width: 20rem;
}

.content,
.contentBody {
  flex: 1;
}

.historyDetailImage {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.image {
  object-fit: cover;
  object-position: center;
  padding: 0 !important;
}
