.Navbar {
  width: 16rem;
  overflow: hidden;
  border-right: 1px solid var(--bg-300);
}

.Navbar__search {
  margin: 1rem 1rem 0 0;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid var(--bg-300);
}

.Navbar__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Navbar__listItem {
  text-decoration: none;
  color: var(--text-200);
  font-size: 0.75rem;
}

.Navbar__listItemActive {
  color: var(--accent-300);
  font-weight: bold;
}