.TableOfContents {
  width: 200px;
  position: sticky;
  top: 2rem;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tableOfContentsDate {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: var(--text-200);
}

.tableOfContentsLike {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 0.3rem;
  cursor: pointer;
}

.tableOfContentsLikeActive,
.tableOfContentsLikeActive .tableOfContentsLikeIcon {
  color: var(--accent-300);
}

.tableOfContentsLikeActive .tableOfContentsLikeIcon {
  fill: var(--accent-300) !important;
}

.tableOfContentsLike:hover {
  color: var(--accent-300);
}

.tableOfContentsDateInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tableOfContentsTitle {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--text-100);
}

.tableOfContentsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 0.75rem;
}

.tableOfContentsItem {
  white-space: nowrap;
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-200) !important;
}

.tableOfContentsItem:hover {
  color: var(--text-100) !important;
}

.tableOfContentsItemH3 {
  margin-left: 1rem;
}

.tableOfContentsItem button {
  color: var(--text-200);
  padding: 0;
  text-align: left;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: block;
}

.tableOfContentsMobile {
  z-index: 998;
}

.tableOfContentsMobileIcon {
  position: absolute;
  top: 56px;
  right: 0;
  border: .5px solid var(--bg-300);
  padding: .5rem;
  border-radius: 0 0 0 .5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.tableOfContentsMobileContent {
  position: absolute;
  top: 56px;
  width: 200px;
  right: -200px;
  overflow: hidden;
  background-color: var(--bg-100);
  height: calc(100vh - 56px);
  z-index: 1;
  transition: right 0.3s ease;
}

.tableOfContentsMobileContent .tableOfContentsDate,
.tableOfContentsMobileContent .tableOfContentsTitle,
.tableOfContentsMobileContent .tableOfContentsList {
  padding: 1rem;
}

.tableOfContentsMobileContent .tableOfContentsItem button {
  max-width: calc(200px - 2rem);
}

.tableOfContentsMobileIconActive {
  right: 200px;
  transition: right 0.3s ease;
}

.tableOfContentsMobileContentOpen {
  right: 0;
}

.tableOfContentsMobileOverlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 997;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.tableOfContentsMobileOverlayActive {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}