.preview {
  flex: 1;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 36px 42px;
  box-sizing: border-box;
  background: var(--bg-400);
}

.storyTitle {
  font-size: 36px !important;
  font-weight: bold;
  margin-bottom: 48px !important;
}

.preview pre {
  background: rgba(69, 69, 69, 0.2);;
  padding: 16px;
  border-radius: 8px;
}

/* Bold */
.preview b,
.preview strong {
  font-weight: bold;
}

/* Italic */
.preview i,
.preview em {
  font-style: italic;
}

/* Underline */
.preview u {
  text-decoration: underline;
}

/* Strikethrough */
.preview s,
.preview strike {
  text-decoration: line-through;
}

/* Link */
.preview a {
  color: #0645ad;
  text-decoration: underline;
}

/* Blockquote */
.preview blockquote {
  border-left: 4px solid #ccc;
  margin: 1em;
  padding-left: 1em;
  color: #666;
  font-style: italic;
  background-color: #f9f9f9;
}

/* Heading */
.preview h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.preview h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.preview h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.preview h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.preview h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.preview h6 {
  font-size: 0.875em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Unordered List (ul) */
.preview ul {
  list-style-type: disc; /* 기본 불릿 스타일 */
  margin: 1em 0;         /* 위아래 여백 */
  padding-left: 1.5em;   /* 왼쪽 여백 */
}

/* Ordered List (ol) */
.preview ol {
  list-style-type: decimal; /* 숫자형 리스트 */
  margin: 1em 0;            /* 위아래 여백 */
  padding-left: 1.5em;      /* 왼쪽 여백 */
}

/* List Item (li) - ul과 ol의 기본 스타일 유지 */
.preview ul li,
.preview ol li {
  margin: 0.5em 0;          /* 각 리스트 아이템 간 간격 */
  line-height: 1.6;         /* 줄 간격 */
}

/* 중첩 리스트 스타일 */
.preview ul ul,
.preview ol ol,
.preview ul ol,
.preview ol ul {
  list-style-type: circle; /* 중첩된 리스트는 원형 불릿 */
  margin-left: 1.5em;      /* 추가 들여쓰기 */
}
